<div>
    <h3>All Appointments</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Available</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (Timeslot x in Model.Timeslots)
            {
            <tr>
                <td>@x.Date</td>
                <td>@x.Time</td>
                <td>@x.Available</td>
                <td>
                    <form id="@x.TimeslotId" asp-action="Signup" method="post">
                        <input type="hidden" value="@x.Time" name="time"/>
                        <input type="hidden" value="@x.Date" name="date"/>
                        <input type="hidden" value="@x.TimeslotId" />
                        <button class="btn-outline-primary" type="submit">Sign Up</button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>


