
<div>
    <h3>My Appointments</h3>
    <table class="table table-bordered table-striped" >
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Group Name</th>
                <th>Group Size</th>
                <th>Email Address</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Appointment x in Model.Appointments)
            {
                <tr>
                    <td>@x.AppointmentId</td>
                    <td>@x.Date</td>
                    <td>@x.Time</td>
                    <td>@x.GroupName </td>
                    <td>@x.GroupSize</td>
                    <td>@x.EmailAddress</td>
                    <td>@x.PhoneNumber</td>
                </tr>
            }
        </tbody>
    </table>
</div>


