@model AppointmentListViewModel

<div>
    <h3>My Appointments</h3>
    <table>
        <thead>
            <tr>
                <th>Appointment ID</th>
                <th>Date</th>
                <th>Time</th>
                <th>Group Name</th>
                <th>Group Size</th>
                <th>Email Address</th>
                <th>Phone Number</th>
            </tr>
        </thead>
        <tbody>
            @foreach (TempleTour.Models.ViewModels.AppointmentListViewModel x in Model)
            {
            <tr>
                <td>@x.Appointments.AppointmentId</td>
                <td>@x.Appointments.Date</td>
                <td>@x.Appointments.Time</td>
                <td>@x.Appointments.GroupName </td>
                <td>@x.Appointments.GroupSize</td>
                <td>@x.Appointments.EmailAddress</td>
                <td>@x.Appointments.PhoneNumber</td>
            </tr>
            }
        </tbody>
    </table>
</div>


